.Body{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    min-height: 100vh;
    background-color: var(--color-bg);
    overflow-x: hidden;
}
.BackGround-image > img{
    position: absolute;
    object-fit: cover;
    width: 100%;
}
.Main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dragdrop{
   color:gray;
   display: flex;
   bottom:0;
   position:relative;
}


