.Accordion-todo{
    width: 100%;
}
.TODO-list-container{
    border-top-left-radius:.4rem;
    border-top-right-radius:.4rem;
    background-color: var( --todo-bg); 
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.New-todo{
    list-style: none;
    display: flex;
    gap:1.2rem;
    border-bottom: .075rem var(--color-text) solid;
    width: 100%;
    padding: 1rem;
    align-items: center;
    color: var(--color-text-not);
}

.Delete-todo{
    padding-right:.5rem; 
    display: flex;
    justify-content: flex-end;
    flex: 1;
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;  
    &:hover{
      cursor: pointer;
    }
}

