.ThemeTODO{
   background-color:transparent;
   display: flex;
   justify-content:space-between;
   width: 100%;
   padding:1rem 0;
}
.TitleTODO{
    letter-spacing: .8em;
    justify-content: flex-start;
    color:var(--title-color);
    text-transform:uppercase;
    font-weight: 800;
    font-size: 2rem;
}
.IconTheme{
    justify-content: flex-end;
    color:var(--title-color);
    font-size: 2rem;
    &:hover{
        cursor: pointer;
    }
}
