/*
- Mobile: 375px
- Desktop: 1440px

*/
.TODO-container{
    width: 40vw;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    top:8svh;
    gap:2rem;
}

